* {
  font-family: Inter, sans-serif;
  background-color: rgb(1, 0, 7);
  border: none;
  padding: 0;
  margin: 0;
}

nav {
  display: block;
  color: #fff;
  margin-top: 2rem;
  padding: 1.5rem;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.5em;
  border-bottom: rgb(92, 90, 79) 1px solid;
}

form {
  display: block;
  height: 40vh;
  width: 90vw;
  /* border: rgb(92, 90, 79) 1px solid; */
  margin: auto;
}

main {
  display: block;
  height: 40vh;
  width: 90vw;
  background-color: rgb(92, 90, 79, 0.3);
  /* border: rgb(92, 90, 79) 1px solid; */
  border-radius: 10px;
  margin: auto;
}
